---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

const experienceEntries = await getCollection("experience");

// Renderizar una entrada específica (puedes iterar para más entradas)
const renderedExperiences = await Promise.all(
  experienceEntries.map(async (entry) => {
    const rendered = await entry.render();
    return {
      ...entry,
      Content: rendered.Content,
      frontmatter: rendered.remarkPluginFrontmatter,
    };
  })
);
---

<Layout title="Experiencia" class="some-class">
  <div class="w-full lg:h-screen sm:px-12">
    <div class="max-w-3xl mx-auto py-12 px-2 prose dark:prose-invert mt-40">
      <h1>Experiencia</h1>
      
      {renderedExperiences.map((exp) => (
        <div class="mb-8 p-4">
                              <!-- Contenedor para imagen y título -->
                    <div class="flex items-center gap-4 ">
                      <!-- Imagen -->
                      <div class="w-16 h-16 p-1 dark:bg-zinc-50 rounded-full flex items-center justify-center mt-6">
                        <img
                           src={exp.data.icon}
                           alt={exp.data.title}
                           class="w-full h-full object-contain "
                         />
                      </div>

                      <!-- Texto -->
                      <div>
                        <h2 class="text-2xl font-semibold dark:text-white">
                          {exp.data.title}
                        </h2>
                      </div>
                    </div>     

        <!-- Frontmatter modificado -->
        <p class="italic ">
          Periodo: {exp.frontmatter.date || "Fecha no disponible"}
        </p>
        <!-- Frontmatter modificado -->
        <p class="italic ">
          Cargo: {exp.data.cargo || "Cargo no disponible"}
        </p>
          <!-- Contenido renderizado -->
          <article>
            <exp.Content />
          </article>

        </div>
      ))}
    </div>
  </div>
</Layout>
