---
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "astro:content";

const experience = await getCollection('experience');
---

<Layout title="Experiencia" class="some-class">

    <div class="w-full lg:h-screen overflow-x-hidden sm:px-12">
        <div class="w-full h-full max-w-3xl mx-auto py-12 px-12 prose dark:prose-invert">
            <h1 class="text-4xl mt-44" transition:name=`experiences`>
                EXPERIENCIA
              </h1>

              <div>
                {experience.map((exp) => (
                  <div class="flex flex-col gap-4 p-4">
                    <!-- Contenedor para imagen y título -->
                    <div class="flex items-center gap-4 ">
                      <!-- Imagen -->
                      <div class="w-16 h-16 p-1 dark:bg-zinc-50 rounded-full flex items-center justify-center mt-6">
                        <img
                           src={exp.data.icon}
                           alt={exp.data.title}
                           class="w-full h-full object-contain "
                         />
                      </div>

                      <!-- Texto -->
                      <div>
                        <h2 class="text-2xl font-semibold dark:text-white">
                          {exp.data.title}
                        </h2>
                      </div>
                    </div>
                    <!-- Descripción -->
                    <p class="text-gray-600 dark:text-gray-300">{exp.body}</p>
                  </div>
                ))}
              </div>
              
        </div>
    </div>
    
</Layout>