---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Experiencia" class="some-class">

    <div class="w-full lg:h-screen overflow-x-hidden sm:px-12">
        <div class="w-full h-full max-w-3xl mx-auto py-12 px-12 prose dark:prose-invert">
            <h1 class="text-4xl mt-44" transition:name=`experiences`>
                EXPERIENCIA
              </h1>
        </div>
    </div>
    
</Layout>