---

import Layout from "../../layouts/Layout.astro";

---

<Layout title="habilidades" class="some class">
  <div class="w-full lg:h-screen overflow-x-hidden sm:px-12">
    <div class="w-full h-full max-w-3xl mx-auto py-12 px-12 prose dark:prose-invert">
    
        <h1 class="text-4xl  mt-44" transition:name=`img-habilities`>
          HABILIDADES
        </h1>
        <p class="text-lg">
          A lo largo de mi trayectoria, he tenido la oportunidad de trabajar con
          una variedad de herramientas y tecnologías que me han ayudado a
          construir proyectos sólidos y funcionales.
          </p>
          <br /><br />

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

        <div class="flex flex-col ">
        
        <h3>Habilidades Fundamentales</h3>
        <div class="grid grid-cols-2 md:grid-cols-3 gap-2">

          <img
          src="/img/technologies/html5.svg"
            alt="Tecnologias"
            class="w-12 h-12"
            />
          <img
            src="/img/technologies/css.svg"
            alt="Tecnologias"
            class="w-12 h-12"
          />
          <img
          src="/img/technologies/javascript.svg"
          alt="Tecnologias"
          class="w-12 h-12"
          />
        </div>
        </div>
          
          <div class="flex flex-col ">
           <h3>Desde Frameworks</h3>
          <div class="grid grid-cols-2 md:grid-cols-3 gap-2 ">

          <img
            src="/img/technologies/astro.svg"
            alt="Tecnologias"
            class="w-12 h-12 "
            />
            <img
           src="/img/technologies/laravel.svg"
           alt="Tecnologias"
           class="w-12 h-12"
           />
           <img
           src="/img/technologies/nextjs.svg"
           alt="Tecnologias"
           class="w-12 h-12"
           />
          </div>
        </div>

          <div class="flex flex-col ">
            <h3>Bases de datos</h3>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-2">

              <img
              src="/img/technologies/mysql.svg"
              alt="Tecnologias"
              class="w-12 h-12"
              />
              <img
              src="/img/technologies/postgresql.svg"
              alt="Tecnologias"
              class="w-12 h-12"
              />
              <img
              src="/img/technologies/mongodb.svg"
              alt="Tecnologias"
              class="w-12 h-12"
              />
            </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</Layout>