---
import "../styles/base.css";
import myImage from "../img/NELSON.jpg";
import Perfil from "../components/perfil.astro";
import Layout from "../layouts/Layout.astro";
import Tech from "../components/Tech.astro";
import Nav from "../components/nav.astro";
---



<Layout title="Nelson" <div class="bg-white">
<Nav/>

  <div class="relative isolate px-6 pt-14 lg:px-8">
    <div
      class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>

    <!-- foto de bienvenida   -->

    <div
      class="flex flex-col md:flex-row justify-center items-center mt-24 gap-24"
    >
      <!-- Imagen -->
      <div
        class="w-72 h-72 rounded-full object-cover z-20 p-1 border border-black shadow bg-gradient-to-r from-cyan-500 to-blue-500 flex items-center justify-center mb-6 md:mb-0"
      >
        <Perfil
          src={myImage}
          alt="Foto de Nelson"
          width="64"
          height="64"
          borderClass="border-black"
        />
      </div>

      <!-- Texto -->
      <div class="w-full md:w-1/2 md:text-left text-center">
        <h3 class="text-4xl font-bold">
          Hola,<strong> Soy Nelson </strong>
        </h3>
        <br />

        <p class="text-lg leading-8 text-gray-600">
          Estudió actualmente Ingeniería de Sistema, poseo los conocimientos
          fundamentales para desarrollar actividades asignadas en el área de
          tecnología, manejo habilidades ofimáticas y facilidad de aprendizaje
          para nuevos softwares.
        </p>

        <!-- Botones -->
        <div
          class="mt-10 flex flex-col md:flex-row items-center justify-start gap-x-6"
        >
          <a
            href="/PDF/HV.pdf"
            download
            class="rounded-md p-2 transition ease-in-out delay-150 bg-blue-500 text-white hover:-translate-y-1 hover:scale-110 hover:bg-indigo-500 duration-300"
          >
            Curriculum
          </a>
          <a
            href="#"
            class="text-sm font-semibold leading-6 text-gray-900 mt-4 md:mt-0"
          >
            Learn more <span aria-hidden="true">→</span>
          </a>
        </div>
      </div>
    </div>

    <!-- bloque de mis habilidades   -->

    <Tech/>

    <!-- Estudios -->



    <div
      class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
      aria-hidden="true"
    >
      <div
        class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#5968e9] to-[#89f4fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
        style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
      >
      </div>
    </div>
  </div>
</Layout>

<div></div>
