---
import Perfil from "../components/perfil.astro";
import Tech from "../components/Tech.astro";
import Projects from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nelson" class="some-class">

  <!-- Imagen de portada -->
  <Perfil alt="Hola" />
   <!-- Seccion de Habiliedades -->
    <Tech />
  <!-- Projects si deseas -->
  <div class="w-full h-full max-w-md mx-auto p-6 sm:p-12">
    <Projects />
  </div>
  
</Layout>
