---
import { Image } from 'astro:assets';
import myImage from "/img/NELSON.jpg"
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nelson" class="some-class">
   
        <div class="container grid grid-cols-3 w-[48rem] gap-3">
            <!-- Slot A -->
            <div  class="col-span-1">
                <!-- Item A -->
                 <a href="/sections/personal">
                <div  class="text-center w-full h-52 bg-white shadow-slate-200 shadow-md rounded-lg bg-[url('/img/NELSON.jpg')] bg-cover"  transition:name="perfil">
                    <div class="text-xl font-bold text-gray-800">
                        <div class="flex w-54 h-1 items-center justify-center mb-6 md:mb-0">
                        </div>
                    </div>
                  </div>
                </a>
            </div>

            <!-- Slot B -->
            <div data-swapy-slot="b" class="col-span-2">
                <!-- Item B -->
                <div data-swapy-item="b" class="text-center w-full h-52 bg-white shadow-slate-200  shadow-md rounded-lg p-4 flex-1">
                  <a href="/sections/habilities">
                    <div class="text-xl font-bold text-gray-800">HABILIDADES</div>
                  </a>
                </div>
            </div>

            <!-- Slot C -->
            <div data-swapy-slot="c" class="col-span-2">
                <!-- Item C -->
                <div data-swapy-item="c" class="text-center w-full h-52 bg-white shadow-slate-200  shadow-md rounded-lg p-4 flex-1">
                  <a href="/sections/proyectos">
                  <div class="text-xl font-bold text-gray-800" transition:name=`img-proyecto`>PROYECTOS</div>
                 </a>
                </div>
            </div>

            <!-- Slot D -->
            <div data-swapy-slot="d" class="col-span-1">
                <!-- Item D -->
                <div data-swapy-item="d" class="text-center w-full h-52 bg-white shadow-slate-200 shadow-md rounded-lg p-4 flex-1">
                    <div class="text-xl font-bold text-gray-800">EXPERIENCIA</div>
                </div>
            </div>

            <!-- Slot E -->
            <div data-swapy-slot="e" class="col-span-3">
                <!-- Item E -->
                <div data-swapy-item="e" class="text-center w-full h-52 bg-white shadow-slate-200  shadow-md rounded-lg p-4 flex-1">
                  <a href="/sections/estudios" transition:name="estudios">
                  <div class="text-xl font-bold text-gray-800">ESTUDIOS</div>
                  </a>
                </div>
            </div>
        </div>
      </Layout>
    <script>
        import { createSwapy } from 'swapy'
        
        const container = document.querySelector('.container') as HTMLElement
        
        const swapy = createSwapy(container, {
            animation: 'dynamic',
            swapMode: 'hover',
            // autoScrollOnDrag: true,
            // enabled: true,
            // dragAxis: 'x',
            // dragOnHold: true
        })
    </script>
