---
import Perfil from "../components/perfil.astro";
import Tech from "../components/Tech.astro";
import Projects from "../components/Projects.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Incluye el CSS de Splide -->

    <!-- Incluye el JavaScript de Splide -->
    


</head>

<body>
    <div class="splide w-screen h-screen" id="mySplide">
        <div class="splide__track h-full">
          <ul class="splide__list">
            <li class="splide__slide flex items-center justify-center bg-white"><Perfil alt="Hola"/></li>
            <li class="splide__slide flex items-center justify-center bg-blue-500"><Tech /></li>
            <li class="splide__slide flex items-center justify-center bg-yellow-500"><Projects/></li>
          </ul>
        </div>
      </div>
      
</body>
</html>

<script>

// Importa Splide desde el paquete instalado
import Splide from '@splidejs/splide';
import '@splidejs/splide/dist/css/splide.min.css';

var splide = new Splide('#mySplide', {
  direction: 'ttb',
  wheel    : true,
  height   : '100%',  // Ajusta la altura al contenedor, que en este caso es pantalla completa.
} );

splide.mount();


</script>