<div class="my-atropos">
  <div class="atropos-scale">
    <div class="atropos-rotate">
      <div class="atropos-inner">
        <slot />
      </div>
    </div>
  </div>
</div>

<script>
  import Atropos from "atropos";
  import "atropos/css";


  const elements = document.querySelectorAll('.my-atropos');

  elements.forEach((el) => {
    Atropos({
        el: el as HTMLElement,
      shadow: true,
      activeOffset: 40,
    });
  });
</script>
