---
import { getCollection } from 'astro:content';

// Get all `src/content/books/` entries
const books = await getCollection('books');


---

<div class="grid grid-cols-1 md:grid-cols-2 gap-12">
  <h1 class="text-2xl font-bold prose dark:prose-invert">Biblioteca personal</h1>
  <br><br>


<!-- {
  books.map((libro) => (
  <div class="relative flex justify-center items-center hover:scale-105 transition-transform duration-300 ease-in-out">
    <a href={libro.data.link} target="_blank" rel="noopener noreferrer">
    <img 
      src={libro.data.image} 
      alt={libro.data.title} 
      class="w-80 h-96 object-cover" 
    />
    </a>
    </div>
  ))
} -->
</div>