---
const { link, text, icon } = Astro.props;
---

<a href={link} target="_blank" class="no-underline">
    <div
        class="bg-gradient-to-tr
              via-blue-500 via-30%
              dark:via-blue-500 dark:via-30%
              rounded-full p-0.5
              hover:-translate-y-1 hover:scale-110
              duration-150"
    >
        <div
            class="flex justify-center items-center gap-2 rounded-full w-auto px-4 py-1 transition ease-in-out delay-150 bg-white dark:bg-slate-800"
        >
            {icon && <span set:html={icon} />}
            {text}
        </div>
    </div>
</a>
