---
import Atropos from './Atropos.astro';

interface Props {
  title: string;
  body: string;
  logoUrl: string;
}

const { title, body, logoUrl } = Astro.props;
---

  <Atropos>
    <div class="flex flex-row justify-center items-center bg-white shadow-lg w-52 sm:w-64 h-auto border border-gray-300 rounded-lg p-4 space-x-4 transition-transform duration-200 hover:shadow-2xl hover:scale-105" data-atropos-offset="5">
      <div>
        <img src={logoUrl} alt="Technology Logo" class="w-12 h-12" />
      </div>
      <div>
        <h2 class="font-semibold text-base sm:text-lg">
          {title}
        </h2>
        <p class="text-sm sm:text-base text-gray-600">
          {body}
        </p>
      </div>
    </div>
    
      </Atropos>

