---
import Atropos from './Atropos.astro';
import { Image } from 'astro:assets';

interface Props {
  title: string;
  body: string;
  logoUrl: string; // Debe contener una imagen importada o una URL válida
  ruta: string;
}

const { title, body, logoUrl, ruta } = Astro.props;
---

<Atropos>
  <div class="flex flex-row justify-center items-center bg-white shadow-lg  h-auto border border-gray-300 rounded-lg p-4 space-x-4" data-atropos-offset="5">
    <div>
      <!-- <Image src={logoUrl} alt="Technology Logo" class="w-12 h-12" /> -->
    </div>
    <div>
      <h2 class="font-semibold text-base sm:text-lg">
        {title}
      </h2>
      <a href={ruta}> {body}</a>
    </div>
  </div>
</Atropos>


