---
import Books from "./Books.astro"
import Certified from "./Certified.astro"
import Studios from "./studios.astro"

---
<div class="w-full mt-36" data-aos="fade-up">
  <div class="flex flex-row justify-center items-center space-x-4">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
      stroke-width="1.5" stroke="currentColor" class="size-8">
      <path stroke-linecap="round" stroke-linejoin="round"
        d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5" />
    </svg>
    <h2 class="font-bold mt-6">Educación</h2>
  </div>

  <div class="w-full bg-gray-200 dark:bg-neutral-950 p-2 rounded-lg mt-4 dark:shadow-md">
    <div class="grid grid-cols-3 gap-4 text-sm font-medium text-center text-blue-500 dark:text-blue-400" id="fullWidthTab" data-tabs-toggle="#fullWidthTabContent" role="tablist">
      
      <button id="stats-tab" data-tabs-target="#stats" type="button" role="tab"
        aria-controls="stats" aria-selected="false"
        class="w-full text-lg p-1.5 transition-colors duration-200 border-2 border-gray-300 dark:border-gray-700 rounded-md bg-white dark:bg-neutral-950 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
        Estudios
      </button>
      
      <button id="about-tab" data-tabs-target="#about" type="button" role="tab"
        aria-controls="about" aria-selected="false"
        class="w-full text-lg p-1.5 transition-colors duration-200 border-2 border-gray-300 dark:border-gray-700 rounded-md bg-white dark:bg-neutral-950 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
        Certificados
      </button>
      
      <button id="faq-tab" data-tabs-target="#faq" type="button" role="tab"
        aria-controls="faq" aria-selected="false"
        class="w-full text-lg p-1.5 transition-colors duration-200 border-2 border-gray-300 dark:border-gray-700 rounded-md bg-white dark:bg-neutral-950 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none">
        Libros
      </button>
  
    </div>
  </div>
  

    <div id="fullWidthTabContent">
      <div class="hidden rounded-b-lg" id="stats" role="tabpanel" aria-labelledby="stats-tab">
        <Studios />
      </div>
      <div class="hidden rounded-b-lg " id="about" role="tabpanel" aria-labelledby="about-tab">
        <Certified />
      </div>
      <div class="hidden rounded-b-lg " id="faq" role="tabpanel" aria-labelledby="faq-tab">
        <Books />
      </div>
    </div>
  </div>
</div>

<style>
.tab-active {
  @apply bg-blue-100 text-blue-700 font-semibold dark:bg-gray-700 dark:text-white;
}
  </style>