   <!-- Slot D -->
   <div data-swapy-slot="d" class="col-span-1">
    <!-- Item D -->
    <div
      data-swapy-item="d"
      class="text-center w-full h-52 bg-white shadow-black dark:shadow-slate-200 shadow-md rounded-lg p-4 flex-1"
    >
      <div class="text-xl font-bold text-gray-800">
        EXPERIENCIA
       <br>
       <br>
       <div class="flex  justify-center items-center">
         <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M8 12h.009m3.986 0h.01m3.986 0H16m2 9c1.232 0 2.231-1.151 2.231-2.571c0-2.248-.1-3.742 1.442-5.52c.436-.502.436-1.316 0-1.818c-1.542-1.777-1.442-3.272-1.442-5.52C20.231 4.151 19.232 3 18 3M6 21c-1.232 0-2.231-1.151-2.231-2.571c0-2.248.1-3.742-1.442-5.52c-.436-.502-.436-1.316 0-1.818C3.835 9.353 3.769 7.84 3.769 5.57C3.769 4.151 4.768 3 6 3" color="currentColor"/></svg>
       </div>
      
      </div>
    </div>
  </div>