<!-- Slot B -->
<div data-swapy-slot="b" class="col-span-2">
    <!-- Item B -->
    <div
      data-swapy-item="b"
      class="text-center w-full h-52 bg-white shadow-black dark:shadow-slate-200 shadow-md rounded-lg p-4 flex-1"
    >
      <a href="/sections/habilities">
        <div class="text-xl font-bold text-gray-800">
          <a href="/sections/habilities"> HABILIDADES
          </a>
      </div>
      </a>
    </div>
  </div>