---
const technologies = [
  { title: "ASTRO", body: "Framework frontend", logoUrl: "/img/technologies/astro.svg" },
  { title: "LARAVEL", body: "Framework backend", logoUrl: "/img/technologies/laravel.svg" },
  { title: "Tailwind", body: "Framework CSS", logoUrl: "/img/technologies/tailwindcss.svg" },
  { title: "NEXT", body: "Framework", logoUrl: "/img/technologies/nextjs.svg" },
  { title: "Posgress", body: "Framework", logoUrl: "/img/technologies/postgresql.svg" },
  { title: "Php", body: "Framework", logoUrl: "/img/technologies/mysql.svg" },
];
---

<!-- Slot B -->
<div data-swapy-slot="b" class="col-span-2">
    <!-- Item B -->
    <div
      data-swapy-item="b"
      class="text-center w-full h-52 bg-white shadow-black dark:shadow-slate-200 shadow-md rounded-lg p-4 flex-1"
    >
      <a href="/sections/habilities">
        <div class="text-xl font-bold text-gray-800" transition:name=`img-habilities`>
          <a href="/sections/habilities"> HABILIDADES
          </a>
        <div class="grid grid-cols-3  justify-center gap-5  mt-4">
        
                {
                  technologies.map((tech) => (
                
                      <div class="flex justify-center">
                        <img
                          src={tech.logoUrl}
                          alt={tech.title}
                          class="w-14 h-14"
                        />
                      </div>

                    
                  ))
                }
            
        </div>
      </div>
      </a>
    </div>
  </div>

