---
import { Image } from "astro:assets"
import N5553 from "/public/img/N5553.png"
import NavMenu from "../components/NavMenu.astro"
import ThemeToggle from "./ThemeToggle.astro"
---

<header class="absolute inset-x-0 top-0 z-50">
<div class="flex justify-center">
  <nav class="fixed flex items-center justify-center backdrop-blur-md shadow-xl h-auto w-auto rounded-full mt-6 py-0.5 lg:px-8 space-x-4" aria-label="Global">
    <div class="flex lg:hidden">
      <button
        id="menu-open"
        type="button"
        onclick="toggleMenu()"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-6">
      <NavMenu  Ruta="#Inicio" Name="Inicio" />
      <!-- <NavMenu  Ruta="#estudios" Name="Estudios" /> -->
      <!-- <NavMenu  Ruta="#habilidades" Name="Habilidades" /> -->
      <NavMenu  Ruta="#Experiencia" Name="Experiencia" />
      <NavMenu  Ruta="#proyecto" Name="Proyectos" />
      <NavMenu  Ruta="#sobre-mi" Name="Sobre mi" />
      <NavMenu  Ruta="#contactame" Name="Contactame" />
    </div>
      <ThemeToggle />
  </nav>

  <!-- Mobile menu -->
</header>
<script>
  document.addEventListener("astro:page-load", () => {
    const navLinks = document.querySelectorAll("nav a"); // Selecciona todos los enlaces del navbar

    navLinks.forEach((link) => {
      link.addEventListener("click", (event) => {
        event.preventDefault(); // Evita el comportamiento por defecto del enlace

        const targetId = link.getAttribute("href").substring(1); // Obtiene el ID de la sección
        const targetSection = document.getElementById(targetId); // Busca la sección correspondiente

        if (targetSection) {
          targetSection.scrollIntoView({
            behavior: "smooth", // Desplazamiento suave
            block: "start",
          });
        }
      });
    });
  });
</script>



