---
interface Props {
  name: string;
  ruta: string;
  name2: string;
  ruta2: string;
}

const { name, ruta, name2, ruta2 } = Astro.props;
---

<div
  class="flex justify-between prose dark:prose-invert w-full text-xl font-bold hover:text-slate-500"
>
<a href={ruta} class="hover:scale-110 transition ease-in-out duration-300 no-underline"> ← {name} </a>
<a href={ruta2} class="hover:scale-110 transition ease-in-out duration-300 no-underline">{name2} →</a>
</div>
