 <!-- Slot C -->
 <div data-swapy-slot="c" class="col-span-2">
    <!-- Item C -->
    <div
      data-swapy-item="c"
      class="text-center w-full h-52 bg-white shadow-black dark:shadow-slate-200 shadow-md rounded-lg p-4 flex-1"
    >
    <div
    class="text-xl font-bold text-gray-800"
    transition:name=`img-proyecto`
    >
    <a href="/sections/proyectos">
          PROYECTOS
        </div>
      </a>
    </div>
  </div>