---
---
<div class="w-full h-full max-w-6xl mx-auto p-6 sm:p-12">
<div class="text-center mt-64">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl mb-12">
      ESTUDIOS
    </h1>
  </div>

<ol class="relative border-s border-black dark:border-gray-700">                  
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-black rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"> 2023-02 - actualmente </time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-black">Sistemas, Ingeniería De Sistemas</h3>
        <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Tecnológico Comfenalco, Cartagena De Indias
        </p>
        
    </li>
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-black rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2021-02 - 2022-11</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-black">Sistemas, Tecnología en Desarrollo de Software</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Tecnológico Comfenalco, Cartagena De Indias</p>
    </li>
    <li class="ms-4">
        <div class="absolute w-3 h-3 bg-black rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2020-06 - 2020-08</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-black">Marketing, Marketing Nivel 1</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Institución Cedesarrollo, Cartagena De Indias</p>
    </li>
    <br>
    <li class="mb-10 ms-4">
        <div class="absolute w-3 h-3 bg-black rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2019-02 - 2020-11</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-black">Sistemas, Tecnico en sistemas</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Institución Cedesarrollo, Cartagena De Indias</p>
    </li>
    <li class="ms-4">
        <div class="absolute w-3 h-3 bg-black rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2019</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-black">Curso, Manejo Básico de Herramientas Informáticas</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">SENA, Cartagena De Indias</p>
    </li>
    <br>
    <li class="ms-4">
        <div class="absolute w-3 h-3 bg-black rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
        <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">2015-01 - 2020-11</time>
        <h3 class="text-lg font-semibold text-gray-900 dark:text-black">Secundario, Bachiller</h3>
        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Institución Educativa Madre Teresa de Calcuta, Cartagena De Indias</p>
    </li>
</ol>
</div>