---
import Card from "./Card.astro";
---


<div class="flex flex-col justify-center">
  <div class="mt-6 text-center">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl mb-12">
      Tecnologias
    </h1>
  </div>
  
  <div
    class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-14"
  >
    
      <Card
        title="ASTRO"
        body="framework frontend"
        logoUrl="/img/Tecnology/astro.png"
      />
    
    
      <Card
        title="LARAVEL"
        body="framework Backend"
        logoUrl="/img/Tecnology/laravel.png"
      />
    
    
      <Card
        title="JS"
        body="Lenguaje frontend"
        logoUrl="/img/Tecnology/JS.png"
      />
    
    
      <Card 
      title="CSS" 
      body="Estilos web" 
      logoUrl="/img/Tecnology/CSS.png" />
    
  
      <Card
        title="HTML"
        body="Estructura web"
        logoUrl="/img/Tecnology/HTML.png"
      />
    
    
      <Card
        title="PHP"
        body="Lenguaje backend"
        logoUrl="/img/Tecnology/PHP.png"
      />
    
    
      <Card
        title="GIT"
        body="Control de versiones"
        logoUrl="/img/Tecnology/git.png"
      />
    
    
      <Card
        title="Github"
        body="Repositorio de código"
        logoUrl="/img/Tecnology/GitHub.png"
      />
    
    
      <Card
        title="Tailwing"
        body="Framework CSS"
        logoUrl="/img/Tecnology/tailwind.png"
      />
    
  </div>
</div>
