<div data-aos="zoom-in" class="w-[48rem]">
    <div class="text-2xl text-center text-black dark:text-white py-1 px-3">
  
      <strong> Conoce mi Trabajo </strong>
      <br>
      <br>
      <p>
        Explora mi portafolio interactivo y descubre más sobre mí: habilidades,
        proyectos, experiencia y estudios. Arrastra, suelta y haz clic en los
        cuadros para acceder a información especial. 
        <br /> <br />
        ¡Te invito a conocer más a fondo mi trabajo!
      </p>
    </div>
  </div>