<div 
  data-aos="zoom-in" 
  class="max-w-full sm:max-w-md md:max-w-2xl lg:max-w-3xl mx-auto px-4 py-4"
>
  <div class="text-lg sm:text-xl md:text-2xl text-center text-black dark:text-white py-3 px-4">
    <strong></strong>
    <br><br>
    <p>
      Explora mi portafolio interactivo y descubre más sobre mí: habilidades, 
      proyectos, experiencia y estudios. Arrastra, suelta y haz clic en los 
      cuadros para acceder a información especial.
      <br><br>
      <span id="element"></span>
    </p>
  </div>
</div>
<script>
  import Typed from 'typed.js';
function typedStart() {
  const typed = new Typed('#element', {
    strings: ['<i>¡Te invito a conocer más a fondo mi trabajo!</i>'],
    typeSpeed: 25,
  });
}

typedStart();

document.addEventListener('astro:page-load', () => {
  typedStart();
});

</script>
