---
import Badge from "./Badge.astro"
---
<div id="#sobre-mi" class="flex justify-center items-center space-x-4">
  <img src="/img/NELSON.jpg" alt="Perfil" class="rounded-full h-16 w-16 mx-auto shadow-lg" />
 <Badge>Disponible para trabajar</Badge>
</div>

<h2 class="text-4xl font-bold -mt-4">Hola, soy Nelson</h2>

<p class="text-xl text-left mt-2 w-3/4 lg:w-2/3 ">
  Soy estudiante de <span class="text-blue-500 font-bold">Ingeniería de Sistemas</span>  con una sólida formación en tecnología y desarrollo. Me especializo en el <span class="text-blue-500 font-bold">Desarrollo Web</span> y aprendo rápidamente nuevos entornos y software. Mi enfoque proactivo y habilidades técnicas me permiten resolver desafíos tecnológicos con éxito.
</p>

<div class="flex flex-row space-x-4">
<a href="https://www.linkedin.com/in/nelson-jimenez-10429a337/" target="_blank" class="flex justify-center items-center rounded-full w-auto px-4 py-1 transition ease-in-out delay-150 bg-white border border-slate-400 text-black hover:-translate-y-1 hover:scale-110 hover:bg-slate-400-500 duration-300 no-underline">Linkedin</a>
<a href="https://github.com/Nelson-5553 " target="_blank" class="flex justify-center items-center rounded-full w-auto px-4 py-1 transition ease-in-out delay-150 bg-white border border-slate-400 text-black hover:-translate-y-1 hover:scale-110 hover:bg-slate-400-500 duration-300 no-underline">GitHub</a>
<a href="/PDF/HV.pdf" target="_blank" class="flex justify-center items-center rounded-full w-auto px-4 py-1 transition ease-in-out delay-150 bg-white border border-slate-400 text-black hover:-translate-y-1 hover:scale-110 hover:bg-slate-400-500 duration-300 no-underline" > Curriculum </a>
</div>