---

---

<div class="w-screen lg:h-screen">
  <div id="contactame" class="w-full h-full max-w-6xl mx-auto p-6 sm:p-12">
    <div class="text-center">
      <h1
        class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl mb-12"
      >
        CONTACTAME
      </h1>
    </div>

    <div class="grid md:grid-cols-2">
      <div class="flex flex-col justify-center items-center">
        <strong>NOMBRE:</strong><p>Nelson Andres Jimenez Alvarez</p>
        <br />
        <strong>TELEFONO:</strong><p>(+57) 316 878 2198</p>
        <br />
        <strong>EMAIL:</strong><p>andresnelson2004@hotmail.com</p>
        <br />
        <strong>GITHUB:</strong><p>
          <a href="https://github.com/Nelson-5553">Nelson-5553</a>
        </p>
        <br />
      </div>

      <div>
        <form
          id="my-form"
          action="https://formspree.io/f/mnnqdqbr"
          method="POST"
          class="max-w-md mx-auto p-6"
        >
          <input
            type="hidden"
            name="_redirect"
            value="https://tusitio.com/gracias"
          />

          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="name"
              >NOMBRE:</label
            >
            <input
              type="text"
              name="name"
              required
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:ring-blue-300"
            />
          </div>

          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="subject">ASUNTO:</label
            >
            <input
              type="text"
              name="subject"
              required
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:ring-blue-300"
            />
          </div>

          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="email">EMAIL:</label
            >
            <input
              type="email"
              name="email"
              required
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:ring-blue-300"
            />
          </div>

          <div class="mb-4">
            <label
              class="block text-gray-700 text-sm font-bold mb-2"
              for="message">MENSAJE:</label
            >
            <textarea
              name="message"
              required
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring focus:ring-blue-300"
              rows="4"></textarea>
          </div>

          <button
            type="submit"
            class="w-full bg-gradient-to-tr from-purple-500 to-blue-500 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-blue-300 transform transition-transform duration-200 hover:scale-105 hover:bg-gradient-to-tr hover:from-blue-500 hover:to-purple-500"
          >
            ENVIAR
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
