---
const year = new Date().getFullYear();
---
<footer class="bottom-0 left-0 z-20 w-full p-4 border-gray-200 shadow-sm md:flex md:items-center md:justify-between md:p-6 dark:border-gray-600">
    <span class="text-sm  sm:text-center">© {year} <a href="https://www.linkedin.com/in/nelson-jimenez-10429a337/" class="hover:underline">Nelson</a>. Todos los derechos reservados
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium  sm:mt-0">
        <li class="list-none">
            <a href="#" class="hover:underline me-4 md:me-6">Sobre mi</a>
        </li>

        <li class="list-none">
            <a href="mailto:andresnelson2004@hotmail.com" class="hover:underline">Contact</a>
        </li>
    </ul>
</footer>
