---
import Image from "astro/components/Image.astro"
import Nelson from "../../public/img/NELSON.jpg"
---
<div class="mt-36" data-aos="fade-up">
<div id="sobre-mi" class="flex flex-row justify-center items-center space-x-4">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
    <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
  </svg>  
  <h2 class="font-bold mt-6">About Me</h2>
</div> 

<div class="grid grid-cols-1 lg:grid-cols-3 gap-8 mt-6">
  <!-- Descripción -->
  <div class="col-span-2">
    <p class="leading-relaxed">
      I am a <span class="text-blue-500 font-bold">Systems Engineering student</span> with a strong focus on <span class="text-blue-500 font-bold">technological development</span>. I am passionate about <span class="text-blue-500 font-bold">programming, problem-solving</span>, and <span class="text-blue-500 font-bold">process optimization</span> through technology. I have experience with <span class="text-blue-500 font-bold">office automation tools</span> and knowledge of various technologies, allowing me to <span class="text-blue-500 font-bold">quickly adapt</span> to new environments and work methodologies.
      <br><br>
      Currently, I specialize in <span class="text-blue-500 font-bold">web development</span> and <span class="text-blue-500 font-bold">systems management</span>, focusing on <span class="text-blue-500 font-bold">efficiency and scalability</span>. I enjoy facing <span class="text-blue-500 font-bold">challenges</span>, constantly learning, and applying my skills to <span class="text-blue-500 font-bold">create innovative solutions</span>. I always seek to improve my abilities and stay <span class="text-blue-500 font-bold">updated in the technological world</span>.
    </p>
  </div>

  <!-- Imagen con Marco Rotado -->
  <div class="flex items-center justify-center w-full h-60">
    <div class="relative w-60 h-60 rotate-6 rounded-xl border-4 border-gray-300 shadow-lg flex items-center justify-center">
      <Image 
        src={Nelson} 
        alt="Nelson" 
        class="w-full h-full object-cover rounded-xl -rotate-6"
      />
    </div>
  </div>      
</div>
</div>
