---
import { ClientRouter } from 'astro:transitions';
interface Props {
   title: string;
   class: string;
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
   <head>
     <meta charset="UTF-8" />
     <meta name="description" content="Astro description" />
     <meta name="viewport" content="width=device-width" />
     <link class="rounded-full" rel="icon" href="/img/N5553.png" />
     <meta name="generator" />
     <title>{title}</title>
     <ClientRouter />
   </head>
   <body class="bg-black bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px] bg-fixed min-h-screen">
     <main class="relative min-h-screen">
       <div class="flex flex-col justify-center items-center min-h-screen">
          <!-- contenido -->
          <slot />
       </div>
     </main>
   </body>
</html>
