---
import { ClientRouter } from 'astro:transitions';
interface Props {
   title: string;
   class: string;
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
   <head>
     <meta charset="UTF-8" />
     <meta name="description" content="Astro description" />
     <meta name="viewport" content="width=device-width" />
     <link class="rounded-full" rel="icon" href="/img/N5553.png" />
     <meta name="generator" />
     <title>{title}</title>
     <ClientRouter />
     <style>
       body, html {
         margin: 0;
         padding: 0;
         height: 100%;
       }
     </style>
   </head>
   <body>
     <div class="fixed inset-0 z-[-2] bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]">
     </div>
     
     <main class="relative min-h-screen">
       <div class="flex flex-col justify-center items-center h-screen">
    
          <!-- contenido -->
          <slot />

       </div>
     </main>
   </body>
</html>